body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Fira Code thin", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgb(183, 183, 238), aliceblue);
}


#tags ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px; /* Adds spacing between list items */
}

#tags ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px; /* Adds spacing between icon and text */
  font-family: "Fira Code";
  font-size: large;
}
